<link href="style.css" rel="stylesheet">

<p>Please enter a value for price and points to filter through the wine list</p>

<form method="post">
    <label for="Name">Name</label>
    <input maxlength="20" name="Name" /> <br />

    <label for="Price">Wine Price</label>
    <input maxlength="3" name="Price" /> <br />

    <label for="Points">Wine Points</label>
    <input maxlength="10" name="Points" /> <br />

    <button type="submit">Search!</button>
</form>